body {
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

/*password stuff */
#passwordScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#passwordInput {
  margin-bottom: 10px;
}
#showPasswordBtn {
  margin-left: 5px; 
}

/*Link to Main Page*/
.styledLink {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8D6B2A;
    color: #FFF;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}
.styledLink:hover {
    background-color: #A0803D; 
}